body{
    font-family: Helvetica, sans-serif;;
    margin: 0;
    background: whitesmoke;
}



nav{
    z-index: 200;
    position: fixed;
    height: 5rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    /* border-radius: 0 0 20px 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;left: 0;right: 0;
    border: solid grey;
    border-width: 0 0 2px 0;
}
.NavBlock{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -90;
    background: whitesmoke;
    height: 5rem;
    width: 100%;
}
nav a{
    transition: .2s;
    margin: 0 15px 0 15px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}
nav a:hover{
    text-shadow: 0 0 10px cyan;
}
nav img{
    height: 5rem;
    width: 5rem;
    transition: 0.6s;
}
nav img:hover{
    filter: drop-shadow(0 0 7px #fff);
}



.contact{
    position: fixed;
    bottom: calc(75% - 56px);
    right: 0;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 15px 0 0 15px;
    border: solid black;
    border-width: 3px 0 3px 3px;
}
.socials{
    position: fixed;
    bottom: calc(75% - 109px);
    right: 0;
    width: 35px;
    height: 50px;
    background: white;
    border-radius: 0 0 0 15px;
    border: solid black;
    border-width: 0 0 3px 3px;
}



main{
    display: flex;
    width: 86%;
    margin: 7rem 7% 0 7%;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items:center;
}
main div{
    min-width: fit-content;
}
main .slogan #Slogan{
    margin: 10px;
    font-size: 4rem;
}
main .slogan .registerButton{
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    height: 50px;
}
main .slogan .registerButton a{
    text-decoration: none;
    color: black;
    padding: 35px;
    font-size: 1.5rem;
}
main .sloganImage{
    border: 3px solid black;
    /*margin: 50px;*/
}



.about{
    display: flex;
    width: 72%;
    background-color: whitesmoke;
    margin: 2rem 0 0 0;
    padding: 0 14% 4rem 14%;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items:center;
}
.about div{
    min-width: calc(36% + 30px);
    flex: 1;
    margin: 15px;
}
.about h1{
    text-decoration: 3px underline black;
    text-align: center;
    margin: 20px 0 0 0;
}
.about p{
    margin: 8px 0 0 4%;
    padding: 0 7% 0 3%;
    display: block;
    font-size: 1.5rem;
}



footer{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;left: 0;right: 0;
    height: 3rem;
    width: 100%;
    background: grey;
    border: solid cyan;
    border-width: 5px 0 0 0;
}
footer a{
    transition: .2s;
    margin: 0 15px 0 15px;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;    
}
footer a:hover{
    text-shadow: 0 0 10px cyan;
}
footer img{
    margin: 0 15px 0 15px;
    height: 2rem;
    width: 2rem;
    transition: 0.4s;
}
footer img:hover{
    filter: drop-shadow(0 0 10px cyan);
    content: url("Images/CPLogo.png");
    height: 2rem;
    width: 2rem;
}